body {
    background-color: bisque;
}
h1 {
    color: rgb(6, 104, 71);
    border: 3px dashed red;
    text-align: center;
}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 400%;
    color: royalblue;
    border: 4px dotted rgb(2, 1, 34);
    text-align:justify;
}